.md-title--dialog {
    padding: 12px;
}
.dialog-title {
    h2 {
        background-color: #2962ff;
        border-bottom:#F44336 solid 2px;
    }
    .title {
         display: flex;
         align-content: space-between;
         justify-items: center;
         span {
            color: #fff;
            margin: 15px 20px;
        }
     }
     i {
         padding: 8px 10px;
         border-radius: 50%;
         color: #F44336 !important;         
         font-size: 36px !important;
         background-color: #fff !important;
     }

     .md-dialog-content {
         padding: 20px;
     }
}